@mixin font-face($family, $style, $weight, $src) {
  $filePath: $fonts-path + $src + "/" + $src;
  @font-face {
    font-family: $family;
    src: local($src),
    url($filePath + ".eot") format("embedded-opentype"),
    url($filePath + ".woff") format("woff"),
    url($filePath + ".svg") format("svg"),
    url($filePath + ".ttf") format("truetype");
    font-style: $style;
    font-weight: $weight;
  }
}