$base-font-size: 16; //Default font size.
$fonts-path: '/assets/fonts/'; //Path to the local fonts folder.
$default-font: 'Lato', sans-serif !default;
$default-font-color: $white !default;
$default-font-weight: 300 !default;
