.first-block {
  .first-block__title {
    margin-bottom: rem-calc(50);

    b {
      color: $flamingo;
    }
  }

  .first-block__logo {
    margin-bottom: rem-calc(70);
  }

  .first-block__branch {
    margin-bottom: rem-calc(125);
  }

  .first-block__link {
    font-size: rem-calc(50);
    color: $white;
  }
}