.second-block {
  .second-block__branch {
    margin-bottom: rem-calc(40);
  }

  .second-block__features {
    .features__image {
      margin-bottom: rem-calc(35);
    }

    .features__text {
      font-size: rem-calc(30);
      line-height: rem-calc(43);
      padding: rem-calc(0 10);
    }
  }
}