.third-block {
  .number {
    display: inline-block;
    vertical-align: middle;
    font-size: rem-calc(77);
  }

  .third-block__branch {
    margin-bottom: rem-calc(40);
  }

  .third-block__features {
    margin-bottom: rem-calc(50);

    .number {
      font-size: rem-calc(150);
      line-height: 1;
    }

    .third-block__features__desc,
    .third-block__features__title {
      display: block;
    }

    .third-block__features__title {
      font-size: rem-calc(36);
      color: $flamingo;
      text-transform: uppercase;
      line-height: 1;
    }

    .third-block__features__desc {
      font-size: rem-calc(34);
    }
  }
}