@import "../blocks/first-block";
@import "../blocks/second-block";
@import "../blocks/third-block";

.block {
  background: no-repeat 0 0;
  background-size: cover;

  &.block--image-right {
    background-position: right center;
  }
}