.overlay-bg {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($black, .67);
  }
}

.branch-small {
  max-width: rem-calc(320);
}

.branch-large {
  max-width: rem-calc(410);
}

.mt-80 {
  margin-top: rem-calc(80);
}

.max-w-600 {
  max-width: rem-calc(600);
}

.laurels {
  position: relative;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: rem-calc(116);
    width: rem-calc(75);
    bottom: rem-calc(25);
  }

  &:before {
    background: url(../../../assets/images/icons/laurel-left.png) 0 0 no-repeat;
    right: 110%;
  }

  &:after {
    background: url(../../../assets/images/icons/laurel-right.png) 0 0 no-repeat;
    left: 110%;
  }
}