a,
a:hover {
  text-decoration: none;
  color: $default-font-color;
}

.heading {
  font-size: rem-calc(74);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: rem-calc(10);
}

.sub-heading {
  font-size: rem-calc(46);
  margin-bottom: rem-calc(24);
}

.number {
  font-family: Bebas-Neue, sans-serif;
  font-weight: 300;
  color: $flamingo;
}